[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/bashagodugu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/bashagodugu
	label-Verified = -1..+1 group user/bashagodugu
	push = group user/bashagodugu
	read = group user/bashagodugu
	rebase = group user/bashagodugu
	removeReviewer = group user/bashagodugu
	submit = group user/bashagodugu
[access "refs/heads/*"]
	create = group user/bashagodugu
	push = +force group user/bashagodugu
	pushMerge = group user/bashagodugu
	read = group user/bashagodugu
[access "refs/tags/*"]
	push = group user/bashagodugu
	push = +force group user/bashagodugu
